# =========================
# 🔐 Variables sensibles
# =========================
.env
.env.*

# =========================
# 🐍 Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.ipynb_checkpoints/

# =========================
# 📊 Datos (evitar subir peso)
# =========================
data/raw/*
data/processed/*

# =========================
# ⚙️ Gradle / Java
# =========================
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# 🧰 IntelliJ IDEA
# =========================
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# =========================
# 🧪 Otros IDEs
# =========================
.vscode/
.classpath
.project
.settings
bin/

# =========================
# 💻 Sistema
# =========================
.DS_Store
Thumbs.db